s-page {
  --s-color-primary: #205fa6;
  --s-color-on-primary: #ffffff;
  --s-color-primary-container: #d5e3ff;
  --s-color-on-primary-container: #001c3b;
  --s-color-secondary: #555f71;
  --s-color-on-secondary: #ffffff;
  --s-color-secondary-container: #d9e3f8;
  --s-color-on-secondary-container: #121c2b;
  --s-color-tertiary: #6e5676;
  --s-color-on-tertiary: #ffffff;
  --s-color-tertiary-container: #f7d8ff;
  --s-color-on-tertiary-container: #271430;
  --s-color-error: #ba1a1a;
  --s-color-on-error: #ffffff;
  --s-color-error-container: #ffdad6;
  --s-color-on-error-container: #410002;
  --s-color-background: #fdfcff;
  --s-color-on-background: #1a1c1e;
  --s-color-outline: #74777f;
  --s-color-outline-variant: #c3c6cf;
  --s-color-surface: #fdfcff;
  --s-color-on-surface: #1a1c1e;
  --s-color-surface-variant: #e0e2ec;
  --s-color-on-surface-variant: #43474e;
  --s-color-inverse-surface: #2f3033;
  --s-color-inverse-on-surface: #f1f0f4;
  --s-color-inverse-primary: #a6c8ff;
  --s-color-surface-container: #eeedf1;
  --s-color-surface-container-lowest: #e3e2e6;
  --s-color-surface-container-low: #e9e7eb;
  --s-color-surface-container-high: #f4f3f7;
  --s-color-surface-container-highest: #ffffff;
  --s-color-dark-primary: #a6c8ff;
  --s-color-dark-on-primary: #00315f;
  --s-color-dark-primary-container: #004786;
  --s-color-dark-on-primary-container: #d5e3ff;
  --s-color-dark-secondary: #bdc7dc;
  --s-color-dark-on-secondary: #273141;
  --s-color-dark-secondary-container: #3d4758;
  --s-color-dark-on-secondary-container: #d9e3f8;
  --s-color-dark-tertiary: #dabde2;
  --s-color-dark-on-tertiary: #3d2846;
  --s-color-dark-tertiary-container: #553f5d;
  --s-color-dark-on-tertiary-container: #f7d8ff;
  --s-color-dark-error: #ffb4ab;
  --s-color-dark-on-error: #690005;
  --s-color-dark-error-container: #93000a;
  --s-color-dark-on-error-container: #ffb4ab;
  --s-color-dark-background: #1a1c1e;
  --s-color-dark-on-background: #e3e2e6;
  --s-color-dark-outline: #8d9199;
  --s-color-dark-outline-variant: #43474e;
  --s-color-dark-surface: #1a1c1e;
  --s-color-dark-on-surface: #e3e2e6;
  --s-color-dark-surface-variant: #43474e;
  --s-color-dark-on-surface-variant: #c3c6cf;
  --s-color-dark-inverse-surface: #e3e2e6;
  --s-color-dark-inverse-on-surface: #2f3033;
  --s-color-dark-inverse-primary: #205fa6;
  --s-color-dark-surface-container: #1e2023;
  --s-color-dark-surface-container-lowest: #0d0e11;
  --s-color-dark-surface-container-low: #1a1c1e;
  --s-color-dark-surface-container-high: #292a2d;
  --s-color-dark-surface-container-highest: #343538;
}