#speed-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
    width: calc(100% - 2em);
    height: 15em;
    margin: 1em;
    padding: 1em;
}

.card-title-box {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.card-title {
    font-size: 1.4em;
    margin-left: .4em;
}

#chart, #speed-chart {
    width: 100%;
}

#speed-chart {
    height: 7em;
}

#text {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}

.speed-text-box {
    display: flex;
    align-items: center;
}

#speed-text-upload, #speed-text-download {
    margin-left: .3em;
    font-size: 1.4em;
    font-weight: 600;
}

.speed-text-desp {
    opacity: .5;
    font-size: .8em;
}

#carousel {
    margin: 1em;
    width: calc(100% - 2em);
    height: 56vw;
    --s-elevation-level1: 0;
}

#carousel > s-carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--s-color-primary-container);
}

#line-3-box {
    margin: 1em;
    display: flex;
    justify-content: space-between;
}

#mode-box {
    height: 14em;
    width: calc(50% - .5em);
    padding: 1em;
}

#mode-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#line-3-2-box {
    font-size: 0.875rem;
    height: 14em;
    width: calc(50% - .5em);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#line-3-2-box > s-card {
    height: 6.5em;
    width: 100%;
    padding: 1em;
}